{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{template "title" .}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

    <header>
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="logo">
                        <a href="/">Home</a>
                    </div>
                    <nav>
                        <a href="/new">New</a>
                        <a href="/about">About</a>
                    </nav>      
                </div>
            </div>
        </div>
    </header>

    {{ template "content" . }}

    <footer class="bg-light text-center py-4">
        <p class="mb-0">Created by jjmartinmelero &copy; 2025</p>
    </footer>
    <script src="static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
{{end}}